%section.hero#about
  .container
    .row
      .col-md-12
        %h1="Get to know ID Life"
        %p="Choose an option below"
%section.container.inner
  %header.row.tab-header
    %ul
      %li.active
        %a{ :href => '#team-members', :data => { :toggle => "tab" } }
          ="Meet"
          %span="the team members"
      %li
        %a{ :href => '#learn', :data => { :toggle => "tab" } }
          ="Learn"
          %span="our philosophy"
      %li
        %a{ :href => '#culture', :data => { :toggle => "tab" } }
          ="Culture"
          %span="of ID Life"
  
  %section.tab-content
    %article.tab-pane.fade.in.active.about-content#team-members
      %header.row
        .col-md-12
          %h2="Meet the ID Life Leadership Team"
          %h3="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
      .row.content
        .col-md-12#slider-thumbs
          %span.prev-control.slider-control
            =image_tag( 'about/prev-control.png')
          %span.next-control.slider-control
            =image_tag( 'about/next-control.png')
          .cycle-slideshow#thumbs{ :data => { "cycle-timeout" => 0, 
            "cycle-prev" => ".prev-control", 
            "cycle-next" => ".next-control",
            "cycle-fx" => "carousel",
            "cycle-carousel-fluid" => "true",
            "allow-wrap" => "false" } }
            =image_tag('about/thumb-placeholder.jpg', :class => 'img-responsive')
            =image_tag('about/thumb-placeholder.jpg', :class => 'img-responsive')
            =image_tag('about/thumb-placeholder.jpg', :class => 'img-responsive')
            =image_tag('about/thumb-placeholder.jpg', :class => 'img-responsive')
            =image_tag('about/thumb-placeholder.jpg', :class => 'img-responsive')
            =image_tag('about/thumb-placeholder.jpg', :class => 'img-responsive')
            =image_tag('about/thumb-placeholder.jpg', :class => 'img-responsive')
      .row.content
        .cycle-slideshow{ :data => { "cycle-timeout" => 0, "cycle-slides" => "> div", "cycle-fx" => "scrollHoriz"} }
          .col-md-12
            .col-md-4.slider-inner
              =image_tag('about/team-member-placeholder.jpg', :class => 'img-responsive')
              %br
              =image_tag('about/video-placeholder.jpg', :class => 'img-responsive');
            .col-md-8.slider-inner
              %h2="Logan Stout"
              %h3="CEO and Founder"
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.
          .col-md-12
            .col-md-4.slider-inner
              =image_tag('about/team-member-placeholder.jpg', :class => 'img-responsive')
              %br
              =image_tag('about/video-placeholder.jpg', :class => 'img-responsive');
            .col-md-8.slider-inner
              %h2="Some Other Dude"
              %h3="CEO and Founder"
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.

     

    %article.tab-pane.fade.about-content#learn
      %header.row
        .col-md-12
          %h2="Sub-Category Product Question"
      .row.content
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
      
      %header.row
        .col-md-12
          %h2="Sub-Category Product Question"
      .row.content
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
    %article.tab-pane.fade.about-content#culture
      %header.row
        .col-md-12
          %h2="Sub-Category Product Question"
      .row.content
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
      
      %header.row
        .col-md-12
          %h2="Sub-Category Product Question"
      .row.content
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
        .col-md-6
          %h3="Lorem ipsum dolor sit amet, cons ectetur adipiscing eli?"
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Mauris sollicitudin eu erat eu bibendum. Etiam augue quam, tempus non turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo urna purus, eu posuere erat ultrices a. Mauris sollicitudin eu erat eu.
