/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "compass";
@import "bourbon";
// @import "neat";
@import "partials/variables";
@import "partials/mixins";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body{
    font-family: $font-family;
}
h1,h2,h3,h4{
    font-family: $font-family;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    &.checkout-links{
        text-align: right;
        li{
            margin-right:5px;
            position: relative;
            @include inline-block;
            &.cart-count{
                margin-right: 10px;
                @include inline-block;
            }
            &:last-of-type{
                margin-right: 0;
            }
            a{
                color:$white;
            }
            span{
                position: absolute;
                left:0;right:0;bottom:0;top:0;
                text-align: center;
                color:#231F20;
                height:100%;
                width:100%;
            }
        }
    }
    &.login-links{
        // @extend .pull-right;
        text-align: right;
        li{
            margin-right:10px;
            @include inline-block;
            &:last-of-type{
                margin-right: 0;
            }
            a{
                color:$white;
            }
        }
        &:after{
            content: ' ';
        }
    }
}

.carousel{
    .carousel-inner{
        text-align: center;
        article{
            text-align: center;
            header{
                margin-bottom: 10px;
                h1{
                    color:$white;
                    font-family: $font-family;
                    @include font-size(36);
                    font-weight: 300;
                }        
                a{
                    color:$white;
                    @include inline-block;
                }
            }
            img{
                margin: 0 auto;
            }
        }
    }
    .carousel-control{
        opacity:1;
        top:50%;
        &.right{
            background-image: none !important;
        }
        &.left{
            background-image: none !important;
        }
    }
    .carousel-indicators{
        bottom:-60px;
    }
}

header{
    .status-bar{
        background: #414042;
        width:100%;
        min-height: 32px;
        ul{
            line-height:30px;
            li{
                @include inline-block;
                a{
                    @include font-size(14);
                    color: $white;
                }
            }
            &#social{
                @extend .pull-left;   
            }
            &.checkout-links{
                margin-left: 20px;               
            }

        }
    }

    nav{
        @include linear-gradient(#cbccce , #8a8c8f);
        &.navbar{
            border-radius:0; 
            margin: 0;
            padding: 0;
            border:none;
        }
        
        h1#logo{
            margin: 0;
            padding: 0;
            line-height: 70px;
            @extend .pull-left;
        }
        ul{
            @extend .pull-right;
            line-height: 70px;
            li{
                @include inline-block;
                margin-right: 20px;
                line-height: 25px;
                &:last-of-type{
                    margin-right: 0;
                }
                a{
                    color:#231F20;
                }

                &.active{
                    border-bottom: 5px solid $white;
                    a{
                        
                    }
                }

            }
        }
    }    
}

footer{
    @include box-shadow(inset 0 20px 20px -20px rgba(0,0,0,.8));
    @include radial-gradient(#0B80BB, #004A80);
    min-height:500px;
    height:100%;
    padding:50px 0;
    .row{
        margin-bottom:20px;
        &.last{
            margin-top: 100px;
        }
    }

    ul{
        &.login-links{
            margin-bottom: 20px;
        }
        li{
            color:$white;
            &:first-of-type{
                margin-bottom: 20px;
            }
            a{
                color:$white;
            }
        }

        &.terms{
            li{
                @include inline-block;
                margin-right: 10px;
            }
        }
    }
}