/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* Using @import instead of require so bootstrap mixins can be used in all sass files */

@import "bootstrap";
@import "compass";
@import "compass/css3/border-radius";
@import "bourbon";
@import "partials/variables";
@import "partials/mixins";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body{
    font-family: $font-family;
    
    // home controller
    &.home{
        #product-slider{
            @include radial-gradient(circle at 50% 50%, #BC7CCC 0%, #8E2B7D 23.98%, #0B0204 50%);
            min-height:700px;
            height:100%;
            width:100%;
            .row{
                margin-left: 0;
                margin-right: 0;
            }       
        }

        .inner{
            padding: 50px 0;
            &.left-align{
                text-align: left;
            }
            &.center{
                text-align: center;
            }

            article{
                //global article stuff
                h3{
                    font-family: $font-family;
                    font-weight: 300;
                }
                p{
                    font-family: $font-family;
                    font-weight: 400;
                }
                //contact page
                &.contact{
                    h3{
                        color: #0F95D2;
                        font-weight: 300;
                    }
                    p{
                        @include font-size(18);
                        color: #808285;
                        font-weight: 300;
                    }
                    ul.social{
                        li{
                            @include inline-block;
                            margin:0 15px 0 0px;
                        }
                    }
                }
            }

            //tabs
            header.tab-header{
                margin-bottom: 20px;
                ul{
                    float: none;
                    border-bottom:none;
                    text-align: center;
                    li{
                        @include inline-block;
                        margin-right: 40px;
                        border:none;
                        @media(max-width:767px){
                            margin-right: 20px;
                        }
                        @media(max-width:480px){
                            margin-right: 5px;
                        }
                        &:last-of-type{
                            margin-right: 0;
                        }
                        &.active{
                            a{
                                background: #0F95D2;
                                color:$white;
                                border: 1px solid #909295;
                            }
                        }
                        a{
                            border: 1px solid #909295;
                            @include font-size(28);
                            font-weight: 300;
                            @include inline-block;
                            color:#909295;
                            text-align: center;
                            padding:5px 10px;
                            @media(max-width:767px){
                                @include font-size(22);
                            }
                            @media(max-width:480px){
                                @include font-size(15);
                            }
                            &:hover{
                                background: #0F95D2;
                                color:$white;
                                text-decoration: none;
                            }
                            

                            span{
                                display: block;
                                @include font-size(14);
                                font-weight: bold;
                                
                            }
                        }                       
                    }
                }   
            }

            //tab-content
            section{
                &.tab-content{
                    .tab-pane{
                        //faq page
                        &.faq-content{
                            text-align: left;
                        }
                        //about page
                        &.about-content{
                            header{
                                text-align: center;     
                            }
                            text-align: left;
                        }
                        // global header stuff
                        header{
                            h2{
                                color:#6D6E71;
                                font-weight: 300;
                            }
                            h3{
                                color:#0F95D2;
                                font-weight: 300;
                                margin: 20px 0;
                            }
                        }
                        // global content
                        .content{
                            h3{
                                color:#0F95D2;
                                font-weight: 300;
                                margin: 20px 0;
                            }
                        }
                    }               
                }
            }
        }

        .hero{
            @include background-size('cover');
            text-align: center;
            min-height:228px;
            height:100%;
            &#faq{ background: image-url('faq/hero-bg.jpg') center center no-repeat; }
            &#about{ background: image-url('about/hero-bg.jpg') center center no-repeat; }
            &#contact{ background: image-url('contact/hero-bg.jpg') center center no-repeat; }
            h1{
                color:$white;
                font-weight: 300;
                padding: 60px 0 10px 0;
                margin: 0;
                vertical-align: middle;
                @include font-size(60);
                @media(max-width:767px){
                    @include font-size(34);
                }
            }
            p{
                color:$white;
                font-weight: 700;
            }
        }
    }

    // products controller
    &.products{
        
    }
    // events controller
    &.events{
        
    }
}

h1,h2,h3,h4{
    font-family: $font-family;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    &.checkout-links{
        text-align: right;
        li{
            margin-right:5px;
            position: relative;
            @include inline-block;
            &.cart-count{
                margin-right: 10px;
                @include inline-block;
            }
            &:last-of-type{
                margin-right: 0;
            }
            a{
                color:$white;
            }
            span{
                position: absolute;
                left:0;right:0;bottom:0;top:0;
                text-align: center;
                color:#231F20;
                height:100%;
                width:100%;
            }
        }
    }
    &.login-links{
        text-align: right;
        li{
            margin-right:10px;
            @include inline-block;
            &:last-of-type{
                margin-right: 0;
            }
            a{
                color:$white;
            }
        }
        &:after{
            content: ' ';
        }
    }
}

form{
    margin-top: 20px;
    &.form-horizontal{
        .form-group{
            margin-bottom: 15px;
            label{
                color:#808285;
                font-weight: 300;
                @include font-size(16);
                text-align: left;
            }    
            input{
                height:45px;
                @include border-radius(5px);
                border: 1px solid #9C9C9C;
                &[type=submit]{
                    border:none;
                }
            }
            select{
                height:45px;
                @include border-radius(5px);
                border: 1px solid #9C9C9C;
            }
            textarea{
                border: 1px solid #9C9C9C;   
                @include border-radius(5px);
            }        
        }
    }    
}

.carousel{
    .carousel-inner{
        text-align: center;
        article{
            text-align: center;
            header{
                margin-bottom: 10px;
                h1{
                    color:$white;
                    font-family: $font-family;
                    @include font-size(36);
                    font-weight: 300;
                }        
                a{
                    color:$white;
                    @include inline-block;
                }
            }
            img{
                margin: 0 auto;
            }
        }
    }
    .carousel-control{
        opacity:1;
        top:50%;
        &.right{
            background-image: none !important;
        }
        &.left{
            background-image: none !important;
        }
    }
    .carousel-indicators{
        bottom:-60px;
    }
}

header#site-header{
    .status-bar{
        background: #414042;
        width:100%;
        min-height: 32px;
        ul{
            line-height:30px;
            li{
                @include inline-block;
                a{
                    @include font-size(14);
                    color: $white;
                }
            }
            &#social{
                @extend .pull-left;   
            }
            &.checkout-links{
                margin-left: 20px;               
            }

        }
    }

    nav{
        @include linear-gradient(#cbccce , #8a8c8f);
        &.navbar{
            border-radius:0; 
            margin: 0;
            padding: 0;
            border:none;
        }
        
        h1#logo{
            margin: 0;
            padding: 0;
            line-height: 70px;
            @extend .pull-left;
        }
        ul{
            @extend .pull-right;
            line-height: 70px;
            position: relative;
            li{
                @include inline-block;
                margin-right: 20px;
                line-height: 25px;
              
                &:last-of-type{
                    margin-right: 0;
                }
                a{
                    color:#231F20;
                    text-decoration: none;
                }

                &.active{
                    border-bottom: 5px solid $white;
                    a{
                        
                    }
                }
                &#magic-line {
                    position: absolute;
                    bottom: 18px;
                    left: 0;
                    width: 100px;
                    height: 5px;
                    background: $white;
                    margin-left: 0 !important;
                }
            }
        }
    }    
}

footer{
    @include box-shadow(inset 0 20px 20px -20px rgba(0,0,0,.8));
    @include radial-gradient(#0B80BB, #004A80);
    min-height:500px;
    height:100%;
    padding:50px 0;
    .row{
        margin-bottom:20px;
        &.last{
            margin-top: 100px;
        }
    }

    ul{
        li{
            color:$white;
            a{
                color:$white;
                font-weight: 300;
            }
        }
        &.login-links{
            margin-bottom: 20px;
        }
        &.site-nav{
            li{
                &:first-of-type{
                    margin-bottom: 20px;
                    a{
                        font-weight: 700;
                    }
                }
                a{
                    font-weight: 300;
                    &:hover{
                        color: $white;
                    }
                }
                margin: 5px;
            }
        }

        &.terms{
            li{
                @include inline-block;
                margin-right: 10px;
            }
        }
    }
}
@import "home";
@import "events";
@import "products";

