// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon";
@import "partials/variables";
@import "partials/mixins";

body.home { // Scope using controller name

	#product-slider{
		@include radial-gradient(circle at 50% 50%, #BC7CCC 0%, #8E2B7D 23.98%, #0B0204 50%);
		min-height:700px;
		height:100%;
		width:100%;
		.row{
			margin-left: 0;
			margin-right: 0;
		}		
	}

	#content{
		padding: 50px 0;
		article{
			text-align: center;
			h3{
				font-family: $font-family;
				font-weight: 300;
			}
			p{
				font-family: $font-family;
				font-weight: 400;
			}
		}
	}

}
