%header#site-header
  .status-bar
    .container
      .row
        .col-md-6
          %ul{ :id => 'social' }
            %li
              %a{ :href => '#' }
                =image_tag( 'fb-icon.png')
            %li
              %a{ :href => '#' } 
                =image_tag( 'twitter-icon.png')
        
        .col-md-6
          %ul{ :class=> 'checkout-links pull-right' }
            %li
              %a{ :href => '' }
                =image_tag( 'basket-icon.png')
            %li{ :class => 'cart-count' }
              %a{ :href => '' }
                %span=12 #/CHANGE ME
                =image_tag( 'cart-count-round.png')
            %li
              %a{ :href => '' }
                =image_tag( 'credit-card-icon.png')
          %ul{  :class => 'login-links pull-right' }
            %li
              %a{ :href => '' }="Customer Login"
            %li
              %a{ :href => '' }="ID Reps Login"

  %nav{ :class => 'navbar navbar-default', :role => 'navigation' }
    .container
      %h1{ :id => "logo" }
        = link_to image_tag( 'logo.png'), :controller => "home"
      %ul
        %li{:class => 'active' }
          =link_to "Home", :controller => "home"
        %li
          =link_to "ID Life Products", :controller => "products"
        %li
          =link_to "The Opportunity", :controller => "home", :action => "comp_plan"
        %li
          =link_to "The Team", :controller => "home", :action => "about"
        %li
          =link_to "Questions", :controller => "home", :action => "faq"
        %li
          =link_to "Events", :controller => "events"

